#App {
	width: 1200px;
	height: 100vh;
	margin: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

@media (max-width: 1200px) {
	#App {
		width: 90%;
	}
}

#canvas-wrapper {
	width: 1024px;
	height: 512px;
}

@media (max-width: 1024px) {
	#canvas-wrapper {
		width: 256px;
		height: 256px;
	}
}
